.header-separator {
  border-top-width: 1.25rem;
  border-style: dotted 1.25rem 0.25rem;
  background-image: linear-gradient(
    to right,
    var(--bgColor),
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top;
  background-size: 24px 20px;
  background-repeat: repeat-x;
}
:global(.dark) .header-separator {
  background-image: linear-gradient(
    to right,
    var(--darkBgColor),
    rgba(255, 255, 255, 0) 0%
  );
}
