@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./fonts.css";

  html {
    @apply transition-all duration-300 text-gray-800 break-words font-[350];
    text-size-adjust: auto;
    word-spacing: 0.02em;
  }

  html.dark {
    @apply text-gray-300 bg-gray-900;
  }

  body {
    @apply font-sans;
  }

  input {
    @apply border-transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  a {
    @apply text-gray-600 hover:text-gray-800 hover:underline;
  }

  .dark a {
    @apply text-gray-100 hover:text-gray-200 hover:underline;
  }

  kbd {
    @apply transition-all;
  }

  article {
    @apply leading-[1.8];
  }

  article p {
    @apply my-[1.2em];
  }

  article kbd {
    @apply border text-gray-500 text-xs font-bold border-gray-300 bg-gray-100 rounded py-0.5 px-1 leading-tight whitespace-nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
      0 2px 1px 0 rgba(255, 255, 255, 0.5) inset;
  }

  .dark article kbd {
    @apply text-gray-200 bg-gray-600 border-gray-500;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5),
      0 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
  }
}

@layer utilities {
  .max-content {
    width: max-content;
  }

  .ring-b {
    @apply ring-b-2;
  }

  .text-0 {
    font-size: 0;
  }
}

/** code-hike */
.ch-scrollycoding-step-content {
  @apply border-gray-200;
}

article .heading-anchor {
  @apply absolute w-6 h-6 p-1 text-gray-300 -left-6 sm:-left-7 top-1;
}

.dark article .heading-anchor {
  @apply text-gray-700;
}

h2:has(.heading-anchor),
h3:has(.heading-anchor),
h4:has(.heading-anchor),
h5:has(.heading-anchor),
h6:has(.heading-anchor) {
  @apply relative ml-2 sm:ml-0;
}

article .heading-anchor:hover {
  @apply text-inherit;
}

article .heading-anchor svg {
  @apply w-4 h-4;
}
