@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./fonts.css";

  html {
    @apply transition-all duration-300 text-gray-800 break-words font-[350];
    word-spacing: 0.02em;
  }

  html.dark {
    @apply bg-gray-900 text-gray-300;
  }

  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  a {
    @apply text-gray-600 hover:text-gray-800 hover:underline;
  }

  .dark a {
    @apply text-gray-100 hover:text-gray-200 hover:underline;
  }

  kbd {
    @apply transition-all;
  }

  article {
    @apply leading-[1.8];
  }

  article p {
    @apply my-[1.2em];
  }

  article kbd {
    @apply border text-gray-500 text-xs font-bold border-gray-300 bg-gray-100 rounded py-0.5 px-1 leading-tight whitespace-nowrap;
    box-shadow:
      0px 1px 2px rgba(0, 0, 0, 0.1),
      0 2px 1px 0 rgba(255, 255, 255, 0.5) inset;
  }

  .dark article kbd {
    @apply text-gray-200 bg-gray-600 border-gray-500;
    box-shadow:
      0px 1px 2px rgba(255, 255, 255, 0.5),
      0 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
  }
}

@layer components {
  .btn {
    @apply transition-colors inline-flex items-center px-3 py-2 border border-transparent text-sm font-medium rounded-md  bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300;
  }

  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .max-content {
    width: max-content;
  }

  .ring-b {
    @apply ring-b-2;
  }

  .text-0 {
    font-size: 0;
  }
}

/** code-hike */

.ch-scrollycoding-step-content {
  @apply border-gray-200;
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.6;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
